body{
    margin: 0;
}

#firstPage{
    background-image: url(Images/fh.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameover{
    height: 800px;
    width: 100%;
    background-image: url("Images/fh.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innerDiv{
    height: 400px;
    width: 600px;
    background-color: #784e1e;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    color:#160d01;
}

.innerDiv img{
    padding-top: 40px;
}

.innerDiv h2{
    padding-left: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#my-audio1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#my-audio2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#restart{
    font-size: 30px;
    margin-left : -5px;
}

@media (max-width: 767px) {
#firstPage{
    
    height:750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
   
}

#firstPage h1{
    margin: 0;
}
.para{
    margin: 0;
    font-size: 15px;
}

.objective{
    
    background-color: #dcd8d3;
    height: 200px;
    width: 500px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 36px;

}
.firstimg{
    height: 50px;
    width: 50px;
}
.logo-img{
    padding-bottom: 120px;
}
}
@media (min-width: 767px) and (max-width: 961px){
    #firstPage{
    
        height:750px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    
    #firstPage h1{
        margin: 0;
    }
    
    .para{
        margin: 0;
        font-size: 15px;
    }
    
    .objective{
        
        background-color: #dcd8d3;
        height: 200px;
        width: 500px;
        text-align: center;
        padding-bottom: 36px;
    
    }
    .firstimg{
        height: 50px;
        width: 50px;
    }
    .logo-img{
        padding-bottom: 120px;
    }
}
@media (min-width: 961px) and (max-width: 1024px) {
    #firstPage{
    
        height:750px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    
    #firstPage h1{
        margin: 0;
    }
    
    .para{
        margin: 0;
        font-size: 15px;
    }
   
    .objective{
        
        background-color: #dcd8d3;
        height: 200px;
        width: 500px;
        text-align: center;
        padding-bottom: 36px;
    
    }
    .firstimg{
        height: 50px;
        width: 50px;
    }
    .logo-img{
        padding-bottom: 120px;
    }
    }
@media (min-width: 767px) and (max-width: 961px){
    #firstPage{
        
        height:750px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
           
    }
    
    #firstPage h1{
        margin: 0;
    }
        
    .para{
        margin: 0;
        font-size: 15px;
}
        
    .objective{
            
        background-color: #dcd8d3;
        height: 200px;
        width: 500px;
        text-align: center;
        padding-bottom: 36px;
        
    }
    .firstimg{
        height: 50px;
        width: 50px;
    }
    .logo-img{
        padding-bottom: 120px;
    }
}
@media (min-width: 1024px) {
    #firstPage{
    
        height:750px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    
    #firstPage h1{
        margin: 0;
    }
    
    .para{
        margin: 0;
        font-size: 15px;
    }
    
    .objective{
        
        background-color: #dcd8d3;
        height: 200px;
        width: 500px;
        text-align: center;
        padding-bottom: 36px;
    
    }
    .firstimg{
        height: 50px;
        width: 50px;
    }
    .logo-img{
        padding-bottom: 120px;
    }
}
